<meta charset="utf-8">
<!-- Bootstrap -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
<link rel="stylesheet" href="/../css/styles.css" charset="utf-8">
<link rel="icon"
      type="image/png"
      href="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTVCOjo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Ny03Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIACAAIAMBIgACEQEDEQH/xAAXAAADAQAAAAAAAAAAAAAAAAAFBgcE/8QAKxAAAQIEBAYABwAAAAAAAAAAAQIDAAQFEQYhMUEHEhNRYXEiJUKRscHh/8QAFgEBAQEAAAAAAAAAAAAAAAAAAwQB/8QAHhEAAQQCAwEAAAAAAAAAAAAAAQACAxIhMQQRQRP/2gAMAwEAAhEDEQA/ALjAyrV6m0hHNPzSGzsm9yfQ1gfjPEIosjyskGZd+FtJ794m0rIJmfm9efU4larpQFXW967JFtfBtpBvkrgbTRw3HZ0nd7iTSkZol5pxGygkAH7mN9DxvSazNCVaLjT5Fwh0Wv6iXVipqnGAylptiUaXdthA38nc+f1GLCoUvE0qtr6CTl6tAiV9wFWeNF8i70IzxCqfWxCUqN+kjlSDoL6n8QCE8ENBTmaEg3F8vMPmNsFPT82ZqWuF9xuIUkYFrCl2KrDwmNdE8vsFkXIiEdXBLE1OOTFunZR0CgLW9dv5FD4XYdcDqZp9Jy0uNo14e4b9NxLs5mQb5xSZCSZkWA0ykACFYzrJU8s9hVuAv//Z">
<link href='https://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>

<title>Fantasy Footbal | Draft Tool</title>
