<html>
<head>
    {% include '/includes/head.html.twig' %}
</head>
<body>
    {% include '/includes/navbar.html.twig' %}
    <div class="jumbotron">
        <h1 class="center">Fantasy Football Draft Tool</h1>
    </div>

    <div class="container">
        <h2 class="center">Improve Your Next Draft Class</h2>

        <h3><a href="/players">View All Players</a></h3>
        <h3><a href="/consistent">View Most Consistent Players</a></h3>
    </div>
    <footer>
        {% include '/includes/footer.html.twig' %}
    </footer>
</body>
</html>
