<html>
<head>
    {% include '/includes/head.html.twig' %}
</head>
<body>
    {% include '/includes/navbar.html.twig' %}
    <div class="jumbotron">
        <h1 class="center">Fantasy Football Draft Tool</h1>
    </div>
    <div class="container">
            <h2 class="center">{{ player.getName }}</h2>

    </div>
    <footer>
        {% include '/includes/footer.html.twig' %}
    </footer>
</body>
</html>
