* {
    font-family: 'Lora', serif;
}

.logo {
    max-width: 200px;
}

.player-photo {
    max-width: 350px;
    max-height: 254px;
}

.jumbotron {
    background-image: url("/img/background.jpg");
    background-size: cover;
    color: #eee;
    text-shadow: 3px 3px 3px #111;
    height: 500px;
    padding-top: 280px;
}

.jumbotron h1 {
    font-size: 5em;
    font-weight: bold;
}

.center {
    text-align: center;
}

.block {
    display: block;
}
